{% extends 'activitytracker/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our activity tracker application.
        Here, you can record and track your daily activities.
    </p>
    <p>Our goal is to help you stay organized and motivated while you track your personal progress.
        Whether you are Weekend Warrior or an experienced marathon runner on our platform you can record your training without the disttraction of overwhelming metrics.
        This way you can focus more on your training and worry less about meaningless numbers.
    </p>
</div>
{% endblock %}