/* src/assets/css/navbar.css */
.navbar {
    background-color: #2c3e50; /* Dark blue-gray */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .navbar-brand img {
    width: 50px;
    margin-right: 10px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    color: #ecf0f1; /* Light gray */
  }
  
  .navbar-nav .nav-link:hover {
    color: #bdc3c7;
  }
  
  .logout-button {
    color: #e74c3c;
    font-weight: bold;
  }
  
  